<!DOCTYPE html>
<html> 

<head>
</head>

<body style="background-color: #c06c84; height:100vh;">


  <div>

    <circle-progress [percent]="100" [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
      [outerStrokeColor]="'#ffad33'" [innerStrokeColor]="'#ffffff'" [animation]="true" [animationDuration]="1000" [showTitle]="true" [showSubtitle]="true"
      (click)="changeState()" style="float:right; z-index: 40;
        position: relative;cursor: pointer;">

    </circle-progress>

    <!-- <button (click)="changeState()">Change Size</button>
  <br /> -->
    <!-- <div (click)="changeState()" 
    style="width:100px;height:100px; border-radius: 50%; margin: 3rem; background-color: green"
    [@balloonEffect]=currentState >
  </div> -->
    <div class="cnt" style="position: relative; top: 40px !important; left: 2%;">
      <div [@changeDivSize]=currentState style="float:right; position: relative;">
       
        <div class="circle"
          style="width: 20px; height: 20px; border-radius: 50%; background-color: white; position: relative; top: 85%; left: 5px;">
          <span style="position: absolute;left: 2px; font-weight: bold; font-size: 30px; cursor: pointer;"
            (click)="changeState()">&#94;</span>
        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <div [@changeDivSize_1s]=currentState style="float:right; border: 13px solid #f2f2f2;
          padding: 5px; position: relative; left: 50px;"></div>





    </div>

  </div>







</body>

</html>
